<!-- Body -->
<div class="body-content container">
    <div class="secsion-header-title">
        <h3>DANH SÁCH TẤT CẢ SẢN PHẨM</h3>
    </div>

    <div class="secsion-orderby">
        <span>Sắp xếp theo:</span>
        <div class="btn-group">
            <button type="button" class="btn bg-white dropdown-toggle order-by-btn" data-toggle="dropdown">
                Tiêu chí
            </button>
            <div class="dropdown-menu shadow">
                <a class="dropdown-item" href="#" onclick="return orderBy('sales-number')">Bán chạy nhất</a>
                <a class="dropdown-item" href="#" onclick="return orderBy('de-price')">Giá từ thấp đến cao</a>
                <a class="dropdown-item" href="#" onclick="return orderBy('in-price')">Giá từ cao đến thấp</a>
                <a class="dropdown-item" href="#" onclick="return orderBy('sale-percent')">Giảm nhiều nhất</a>
            </div>
        </div>
    </div>

    <div class="container list-product">

        <div class="row">

            {{#each ListProduct}}
            <div class="col-6 col-lg-3 item-product">
                <a href="/list-product/item?item={{this.id}}">
                    <img src="{{this.imageThumbnail}}" alt="5" width="100%;">
                </a>
                <div class="des-product">
                    <a href="/list-product/item?id={{this.id}}" class="name">
                        {{this.name}}
                    </a>
                    <br>
                    <a href="/list-product/item/rate?id={{this.id}}" class="rate">(Xem đánh giá)</a>

                    <p class="sales" style="display: none">{{this.sales}}</p>

                    <div class="price--secsion">
                        <p class="price">{{this.price}}</p>
                        <p class="old-price">{{ this.oldPrice }}</p>
                        <p class="sale-percent">-0%</p>
                    </div>
                </div>
                <div class="buy">
                    <a name="" id="" class="btn" href="/list-product/item?id={{this.id}}" role="button">Chọn
                        mua</a>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
</div>