<!-- Body -->
<div class="body-content container">
    <div class="secsion-header-title">
        <h3>DANH SÁCH TẤT CẢ SẢN PHẨM (TEMPLATE)</h3>
    </div>

    <div class="secsion-orderby">
        <span>Sắp xếp theo:</span>
        <div class="btn-group">
            <button type="button" class="btn bg-white dropdown-toggle" data-toggle="dropdown">
                Mới nhất
            </button>
            <div class="dropdown-menu shadow">
                <a class="dropdown-item" href="#">Mới nhất</a>
                <a class="dropdown-item" href="#">Bán chạy nhất</a>
                <a class="dropdown-item" href="#">Giá từ thấp đến cao</a>
                <a class="dropdown-item" href="#">Giá từ cao đến thấp</a>
                <a class="dropdown-item" href="#">Giảm nhiều nhất</a>
            </div>
        </div>
    </div>

    <div class="container list-product">

        <div class="row">

            {{#each data}}
            <div class="col-6 col-lg-3 item-product">
                <a href="/collection?item={{this.id}}">
                    <img src="{{this.imageThumbnail}}" alt="5" width="100%;">
                </a>
                <div class="des-product">
                    <a href="/collection?item={{this.id}}" class="name">
                        {{this.name}}
                    </a>
                    <br>
                    <a href="/rate?item={{this.id}}" class="rate">(Xem đánh giá)</a>
                    <p class="price">{{this.price}}</p>
                </div>
                <div class="buy">
                    <a name="" id="" class="btn" href="/collection?item={{this.id}}" role="button">Chọn mua</a>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
</div>